@font-face {
    font-family: 'Berlin Grotesk';
    src: url('fonts/BerlinGrotesk-Thin.eot');
    src: url('fonts/BerlinGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Thin.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berlin Grotesk';
    src: url('fonts/BerlinGrotesk-Light.eot');
    src: url('fonts/BerlinGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Light.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berlin Grotesk';
    src: url('fonts/BerlinGrotesk-Regular.eot');
    src: url('fonts/BerlinGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Regular.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berlin Grotesk';
    src: url('fonts/BerlinGrotesk-Medium.eot');
    src: url('fonts/BerlinGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Medium.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Berlin Grotesk';
    src: url('fonts/BerlinGrotesk-Bold.eot');
    src: url('fonts/BerlinGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/BerlinGrotesk-Bold.woff2') format('woff2'),
        url('fonts/BerlinGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body, * {
    margin: 0;
    padding: 0;
    font-family: 'Berlin Grotesk', sans-serif;
    font-weight: 300;
    color: white;
}
body{
    background-color: #EBEBEB;
    /* box-sizing: border-box; */
}
a{
    text-decoration: none;
}
#canvas{
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.exclusion{
    mix-blend-mode: difference;
    -webkit-mix-blend-mode: difference;
}
.w-100{
    width: 100%;
}
.column{
    flex-direction: column;
}
.flex-sb-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-sb-start {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fixed{
    position: fixed;
    left: 0;
    width: -webkit-fill-available;
    font-size: 18px;
    z-index: 100;
}
.absolute{
    position: absolute;
}
.bold{
    font-weight: 900;
}
.fixed-padding{
    padding: 12px 16px;
}
.footer{
bottom: 0;
}
.button-tertiary{
    cursor: pointer;
}
.button-tertiary:hover{
    text-decoration: underline;
}


.album-wrapper{
    height: 100vh;
}
.album-title{
    font-size: 80px;
}
.cta-wrapper{
    font-size: 24px;
}
.interactive-wrapper{
    z-index: 101;
    width: 100vw;
    height: 100vh;
}
.video-wrapper{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow: hidden;
    top: 0;
    left: 0;
}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.current-song{
    padding: 4px 6px;
    background-color: #ffffff;
    color: black;
    border-radius: 3px;
}

.song-graph{
    z-index: 10;
}
.song{
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: white;
}
.single-song{
    fill: #d9d9d9;
    mix-blend-mode: exclusion;
    r: 6px;
    cursor: pointer;
}
.single-song:hover{
    outline: 1.5px solid #343434;
    border-radius: 100px;
    outline-offset: 8px;
}


/* ABOUT */
.content-wrapper{
    height: 100vh;
    padding: 0 16px;
}
.about-img{
    height: 100%;
    object-fit: cover;

}

.pic-wrapper{
    width: 50%;
    background-color: #000000;
    position: relative;
    /* overflow: hidden; */
    margin-right: 16px;
}
.info-wrapper{
    height: 80%;
    width: 50%;
    gap: 24px;
    display: flex;
}

.interaction{
    gap: 12px
}
.dots{
    gap: 8px;
}
.cerchio{
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: white;
}
.cerchio:hover{
    outline: 1.5px solid #343434;
    border-radius: 100px;
    outline-offset: 8px;
}

.text-wrapper{
    display: flex;
    gap: 44px;
    /* CAMBIARE PER PROVE */
    /* height: 60%;    */
    flex-grow: 10;

}
.bottom-anchor{
    display: flex;
    gap: 44px;
    align-self: stretch;
}
.row-title{
    width: 30%;
}
.row-content{
    width: 70%;
}


.single-credit{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.name-title{
    font-size: 50px;
    font-weight: 500;
}








@media screen and (max-width: 768px){    
}

@media screen and (max-width: 576px){
    .album-title{
        font-size: 44px;
    }
    
}